<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <title>Document</title>
</head>
<body>
    <%- include("partials/Navbar.ejs") %> 
    <h1>Voici mon super formulaire :</h1>
    <form action="/submit-data-form" method="post">
        <label for="prenom">Prénom</label>
        <input type="text" id="prenom" name="firstname">
        <br>
        <label for="nom">Nom</label>
        <input type="text" id="nom" name="lastname">
        <br>
        <label for="email">email</label>
        <input type="email" id="email" name="email">
        <br>
        <label for="message">Message</label>
        <textarea type="message" id="message" name="message">
        </textarea>
        <br>
        <input type="submit" value="Envoyer">
    </form>
    <%data.forEach(form => { %>
        <p>id : <%=form.id%></p>
        <h2><%=form.lastname%></h2>
        <p>email : <%= form.email %> </p>
   <% });  %> 

</body>
</html>