<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Nom : <%= data.lastname  %> </h2>
    <h2>Prenom : <%= data.firstname  %> </h2>
    email : <p><%= data.email  %> </p>
    Message : <p><%= data.message  %> </p>
</body>
</html>