<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (data.admin==true){ %>
    <h1>Hi !</h1>
    
    <div>salut</div>
    <% } %> 
</body>
</html>